*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;;

}
button{
    cursor: pointer;
}
body{
    background-image: url('../img/background_img.jpg');
    background-size: cover;
    background-attachment: fixed;

}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid rgb(255, 255, 255); */
    background: transparent;
    overflow: hidden;
    z-index: 2;
}

.sticky{
    background: whitesmoke;
    transition: all 1s ease;
}

.logo a img{
   height: 80px;
   margin: 0 0 0 50px;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar ul li {
    list-style: none;
    margin-top: 5px;
    padding:0 20px;
    font-size: 25px;
    float: left;
    text-decoration: none;
    position: relative;
}
.navbar ul li::after{
    content: "";
    border: 0px solid yellowgreen;
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -10px;

}
.navbar ul li:hover::after{
    width: 100%;
    border: 1px solid yellowgreen;
    background-color: yellowgreen;
    transition: 0.3s;
    border-radius: 50%;
    opacity: 2px;
}

/* Sign-IN Button CSS start */
.btn-signin {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  margin-right: 50px;
  margin-left: 20px;
  color: black;
  font-weight: bold;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-signin:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btn-signin 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-btn-signin {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn-signin:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #C2FBD7;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* Sign-IN Button CSS end */



.navbar ul li a{
    text-decoration: none;
    color:black;
}
ul li a:hover,
ul li a:active {
    color: rgb(73, 237, 103);
    transition: 0.5s;
}

.titles{
    width: 100%;
    height: 700px;
    background-image: linear-gradient(0deg, black,transparent);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.titles .data{
    margin: 150px 100px 150px 130px;
}
.titles .wel-img img{
    height: 550px;
    width: 600px;
    margin-top: 155px;

}


.titles h1{
    height: 100%;
    width: 100%;
    color: white;
    font-size: 60px;
}
.titles h1 span{
    color: rgb(73, 237, 103);
}
.titles p{
    color: white;
    font-size: 25px;
    padding: 15px 1px;
}

.titles button{
    height: 45px;
    width: 240px;
    font-size: 20px;
    background-color: white;
    border-radius: 13px;
    font-weight: 600;
}


.titles button:hover{
    background-color: yellowgreen;
    transition: 0.3s;
}

/* CARD section */

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: white; */
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  

}

.container .data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}
.container .data h2 {
    font-size: 30px;
    margin: 0 0 10px 0;
}
.container .data p {
    font-size: 30px;
}

.container-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-box{
   width: 270px;
   background-color: #f0f0f0;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0px 0px 35px 2px gray;
   margin: 32px;
}

.card-box img{
    width: 100%;
    height: 200px;
    transition: .5s ease;
}
.card-box:hover img{
    transform: scale(1.1);
}


.card-layer{
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-layer h4{
    font-size: 20px;
    color: #081b29;
}
.card-layer p{
    margin-top: 10px;
    font-size: 15px;
    color: black;
    line-height: 1.3;
    text-align: center;
}
.card-layer .btn{
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    background: gray;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: white;
    z-index: 1;
    
}
.card-layer .btn:hover{
    color: black;
    font-weight: bold;
    }
.card-layer .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 4px;
    background: whitesmoke;
    z-index: -1;
    transition: .5s;
}
.card-layer .btn:hover::before{
  width: 100%;
}

/* video of my Society section */

.infovideo{
    height: auto;
    width: 100%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.slider-wrapper {
    overflow: hidden;
    border-radius: 10px;
    display: flex;
}

.slide {
    flex: 0 0 100%; 
}

video {
    width: 50%;
}  

/* video of my Society section  end*/



/* My_Society details section */
.detail{
    height: 100%;
    /* background-color: white;*/
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    
}
.cont-detail{
    background-color: rgb(0, 209, 178);
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
}
.cont-detail p{
    font-size: 25px;
    color: white;
}
.cont-detail h1{
    font-size: 40px;
    color: white;
}
/* all data one */
.detail .all-data{
    width: 100%;
    display: flex;
    padding: 40px 60px 20px 60px;
    justify-content: space-between;
}
.detail .all-data ul li{
    list-style: none;
}
.detail .all-data ul{
    margin: 10px 0 0;
}
.detail .all-data ul li i{
    font-size: 20px;
}
.detail .soc-detail{
    width: 40rem;
}
.detail .soc-detail p{
    font-size: 18px;
}
.detail .soc-detail h2{
    font-size: 30px;
}
.detail .shop-detail{
    width: 40rem;
}
.detail .shop-detail p{
    font-size: 18px;
}
.detail .shop-detail h2{
    font-size: 30px;
}


/* all data two */
.detail .all-data1{
    width: 100%;
    display: flex;
    padding: 20px 60px 40px 60px;
    justify-content: space-between;
}
.detail .all-data1 ul li{
    list-style: none;
}
.detail .all-data1 ul{
    margin: 10px 0 0;
}
.detail .all-data1 ul li i{
    font-size: 20px;
}
.detail .chat{
    width: 40rem;
}
.detail .chat p{
    font-size: 18px;
}
.detail .chat h2{
    font-size: 30px;
}
.detail .e-m{
    width: 40rem;
}
.detail .e-m p{
    font-size: 18px;
}
.detail .e-m h2{
    font-size: 30px;
}



/* footer section */
footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

.footer-inner {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.footer-section {
    flex: 1;
    max-width: 300px;
    text-align: left;
}

.footer-section h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-section p {
    color: #ccc;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.footer-social {
    margin-top: 20px;
}

.footer-social a {
    display: inline-block;
    margin-right: 10px;
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #fff;
}

.copyright {
    margin-top: 20px;
    color: #ccc;
    font-size: 14px;
}

