body {
    font-family: Arial, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 500px;
    height: 600px;
    border: 1px solid white;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 180px;
}

h2 {
    text-align: center;
    color: white;
    margin: 20px 0;
}

form {
    padding: 0 20px 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
}
.input-box .input-line {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 2px;
    background: white;
    
}
.container label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .5s ease;
}
.container input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    padding: 0 35px 0 5px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

button {
    width: 100%;
    height: 40px;
    background-color: #4caf50;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #191919;
    font-weight: 500;
    transition: .5s ease;
}

button:hover {
    background-color: #45a049;
}
